<body class="image2">
  <div class="page-content">
  
    <h1>Listing Admins</h1>
    
    <%= link_to 'Add Admin', new_admin_path %><br>
    <%= link_to 'View Instructors', teachers_path %>
    <% if @isTeacher %>
      <%= " | " %>
    <% end %>
    <%= link_to_if(@isTeacher, "My Instructor Page", teacher_path(@teacher)) do
    end %><br>

    <%= link_to 'View Students', students_path %>
    <% if @isStudent %>
      <%= " | " %>
    <% end %>
    <%= link_to_if(@isStudent, "My Student Page", student_path(@student)) do
    end %>
      
    <table>
      <tr>
        
      </tr>
      <tr>
        <th>Name</th>
        <th>Email</th>
      </tr>
    
      <% @admins.each do |admin| %>
        <tr>
          <td title="Edit Admin"><%= link_to admin.lname + ", " + admin.fname, edit_admin_path(admin) %></td>
          <td><%= admin.email %></td>
        </tr>
      <% end %>
    </table>

  </div>
</body>