<div class="page-content">
<h1>New Admin</h1>

<%= form_with(model: @admin, html: {autocomplete: 'off'}, local: true) do |form| %>
 
  <% if @admin.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@admin.errors.count, "error") %> prohibited
        this admin from being saved:
      </h2>
      <ul>
        <% @admin.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <div><%= form.text_field :fname, :required => true, placeholder: "First Name" %></div>
  <div><%= form.text_field :mname, placeholder: "Middle Name" %></div>
  <div><%= form.text_field :lname, :required => true, placeholder: "Last Name" %></div>
  <div><%= form.text_field :email, :required => true, placeholder: "E-mail" %></div>
  <br>
  
  <p>
    <%= form.submit %>
  </p>

<% end %>
  
<%= link_to 'Back', admins_path %>

</div>