<div class="page-content">

<h1>Edit Student</h1>
<%= form_with(model: @student, local: true) do |form| %>

  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h3>
        <%= pluralize(@student.errors.count, "error") %> prohibited
        this student from being saved:
      </h3>
      <div>
        <% @student.errors.messages.each do |msg| %>
          <p><%= msg[1][0] %></p>
        <% end %>
      </div>
    </div>
    <br>
  <% end %>
 
  <div>
    <div><%= form.text_field :fname, :required => true, placeholder: "First Name" %></div>
    <div><%= form.text_field :mname, placeholder: "Middle Name" %></div>
    <div><%= form.text_field :lname, :required => true, placeholder: "Last Name" %></div>
    <div><%= form.text_field :prefname, placeholder: "Preferred Name" %></div>
    <div><%= form.text_field :email, :required => true, placeholder: "Student Email" %></div>
    <div><%= form.text_field :card_num, placeholder: "Use card swiper here" %></div>
  </div>
  <br>

  <div>
    <%= form.submit "Update" %>
  </div><br>

<% end %>
<p><%= link_to ('<i class="fas fa-trash" title="Remove Student"></i>').html_safe, student_path(@student),
              method: :delete,
              data: { confirm: 'Are you sure you want to remove this student?' } %> | 
<%= link_to 'Back', :back %></p>
</div>