<div class="page-content">

<h1>Edit Student</h1>
<%= form_with(model: @student, local: true) do |form| %>
 
  <div>
    <div><%= form.label :text, "Edit name" %></div>
    <div><%= form.text_field :fname, placeholder: "First Name"  %></div>
    <div><%= form.text_field :lname, placeholder: "Last Name" %></div>
    <div><%= form.text_field :email, placeholder: "Student Email" %></div>
    <div><%= form.text_field :code, placeholder: "Use card swiper here" %></div>
  </div>
  <br>

  <div>
    <%= form.submit "Update" %>
  </div><br>

<% end %>

<%= link_to 'Back', course_path %>
</div>