<div class="page-content">
<h1>Listing Students</h1>

<p>
  <%= link_to ('<i class="fa fa-user-plus" title="Add Student"></i>').html_safe, admins_new1_path %> | 
  <%= link_to 'Back', admins_path %>
</p>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Courses</th>
  </tr>
 
  <% @students.each do |student| %>
    <tr>
      <td title="Edit Student"><%= link_to student.lname + ", " + student.fname, edit_student_path(student) %></td>
      <td title="Edit Student"><%= link_to student.email, edit_student_path(student) %></td>
      <td>
        <% student.courses.each do |course| %>
          <%= course.name %><%= course.number %> 
        <% end %>
      </td>

      <!--<td><%= student.lname %>, <%= student.fname %> <%= student.mname%></td>-->
      <!--<td><%= student.email %></td>-->
      <!--<td>
        <% student.courses.each do |course| %>
          <%= course.name %><%= course.number %> 
        <% end %>
      </td>-->
      <!--<td><%= link_to 'View', student_path(student) %></td>-->
      <!--<td><%= link_to 'Edit', edit_student_path(student) %></td>-->
      <!--<td><%= link_to 'Delete', student_path(student),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>-->
    </tr>
  <% end %>
</table>

</div>