<div class="page-content">

<h1>New Student</h1>

<%= form_with model: @student, url: teacher_course_students_path, html: {autocomplete: 'off'}, local: true do |form| %>
 
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h3>
        <%= pluralize(@student.errors.count, "error") %> prohibited
        this student from being saved:
      </h3>
      <div>
        <% @student.errors.messages.each do |msg| %>
          <p><%= msg[1][0] %></p>
        <% end %>
      </div>
    </div>
    <br>
  <% end %>
 
  <p>
    <%= form.label "First Name" %><br>
    <%= form.text_field :fname %>
  </p>
  <p>
    <%= form.label "Middle Name" %><br>
    <%= form.text_field :mname %>
  </p>
  <p>
    <%= form.label "Last Name" %><br>
    <%= form.text_field :lname %>
  </p>
  <p>
    <%= form.label "Preferred Name" %><br>
    <%= form.text_field :prefname %>
  </p>
  <p>
    <%= form.label "UIN" %><br>
    <%= form.text_field :uin %>
  </p>
  <p>
    <%= form.label "Tamu E-mail" %><br>
    <%= form.text_field :email %>
  </p>

  <p>
    <%= form.submit %>
  </p>
  
  <%= link_to 'Back', students_path %>
 
<% end %>

</div>