<div class="page-content">

<h1>Edit Student</h1>
<%= form_with(model: @student, url: course_students_path, local: true) do |form| %>

  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h4>
        <%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:
      </h4>
      <div>
        <% @student.errors.messages.each do |msg| %>
          <p><%= msg[1][0] %></p>
        <% end %>
      </div>
    </div>
    <br>
  <% end %>

  <div>
    <div><%= "First Name: " + @student.fname  %></div>
    <div><%= "Middle Name: " + @student.mname %></div>
    <div><%= "Last Name: " + @student.lname %></div>
    <div>Preferred Name: <%= form.text_field :prefname, placeholder: "Preferred Name" %></div>
    <div><%= "Email: " + @student.email %></div>
  </div>
  <br>

  <div>
    <%= form.submit "Update", class: 'btn btn-primary' %>
  </div><br>

<% end %>

<%= link_to 'Back', :back %>
</div>