<div class="page-content">

<h1>Edit Student</h1>
<%= form_with(model: @home, local: true) do |form| %>
 
  <% if @home.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@home.errors.count, "error") %> prohibited this student from being saved:
      </h2>
      <ul>
        <% @home.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :text, "Edit name" %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :text, "Edit student's ID" %><br>
    <%= form.text_field :card %>
  </p>

  <p>
    <%= form.submit "Update" %>
  </p>
  <p>
    <%= link_to 'Remove', @home,
        method: :delete,
        data: { confirm: 'Are you sure?' }
    %>
  </p>
<% end %>

<%= link_to 'Back', home_index_path %>
</div>
