<div class="page-content">

<h1>Edit Student</h1>
<%= form_with(model: @home, local: true) do |form| %>
 
  <% if @home.errors.any? %>
    <div id="error_explanation">
      <h4>
        <%= pluralize(@home.errors.count, "error") %> prohibited this student from being saved:
      </h4>
      <div>
        <% @home.errors.full_messages.each do |msg| %>
          <p><%= msg %></p>
        <% end %>
      </div>
    </div>
  <% end %>

  <div>
    <div><%= form.label :text, "Edit name" %></div>
    <div><%= form.text_field :name %></div>
  </div>
  <br>

  <div>
    <div><%= form.label :text, "Edit student's ID" %></div>
    <div><%= form.text_field :card %></div>
  </div>
  <br>

  <div>
    <%= form.submit "Update" %>
  </div>
  <p>
    <%= link_to 'Remove', @home,
        method: :delete,
        data: { confirm: 'Are you sure?' }
    %>
  </p>
<% end %>

<%= link_to 'Back', home_index_path %>
</div>