<div class="page-content">

<h1>Class Roster</h1>
<table>
  <tr>
    <th>Student Name</th>
    <th>Card Number</th>
  </tr>

  <tr>To edit a student, click the student's card number.</tr>

  <% @homes.each do |home| %>
    <tr>
      <td class="colA"><%= link_to home.name, home %></td>
      <td class="colB"><%= link_to home.card, edit_home_path(home) %></td>
      
      <!--
      <td><%= link_to 'Edit', edit_home_path(home) %></td>      
      <td><%= link_to 'Remove', home,
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
      -->
    </tr>
  <% end %>
</table><br>
<%= button_to "Add User", new_home_path, method: :get %>
</div>