<div class="page-content">

<h1>Attendance Tracker</h1>
<!--<p>Find me in app/views/home/index.html.erb</p>-->

<%= form_with scope: :home, url: home_index_path, local: true do |form| %>

  <% if @home.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@home.errors.count, "error") %> prohibited this student from being saved:
      </h2>
      <ul>
        <% @home.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
 <!--
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
 
  <p>
    <%= form.label :uin %><br>
    <%= form.text_area :uin %>
  </p>
-->

  <p>
    <%= form.label :card %><br>
    <%= form.text_field :card %>
  </p>

  <p>
    <%= form.submit "Submit" %>
  </p>
<% end %>

<br>
<br>


<p>
<%= link_to 'Profile', student_index_path %>
</p>


</div>
