<div class="page-content">

<h1>Attendance Tracker</h1>
<!--<p>Find me in app/views/home/index.html.erb</p>-->

<%= form_with scope: :home, url: home_index_path, local: true do |form| %>

  <% if @home.errors.any? %>
    <div id="error_explanation">
      <h4>
        <%= pluralize(@home.errors.count, "error") %> prohibited this student from being saved:
      </h4>
      <div>
        <% @home.errors.full_messages.each do |msg| %>
          <p><%= msg %></p>
        <% end %>
      </div>
    </div>
  <% end %>

  <div>
    <div><strong><p>First Name:</p></strong></div>
    <div><%= form.text_field :name %></div><br>
        <div><strong><p>Last Name:</p></strong></div>
    <div><%= form.text_field :lname %></div><br>
  </div>
  <div>
    <div><%= form.label :card %></div>
    <div><%= form.text_field :card %></div>
  </div>
  <br>

  <div>
    <%= form.submit "Submit" %>
  </div>
<% end %>

</div>