<!-- Link to new if now alreayd in database, otherwise, link to UIN_new -->

<div class="page-content">

<h1>Attendance for
    <span id="course_name"><%= @course.name%></span>
    <%= " " %>
    <span id="course_number"><%= @course.number%></span>
    <%= " - " %>
    <span id="course_section"><%= @course.section%></span>
</h1> 
<p>
    <%= link_to_if(!@tookattendance, "Take Attendance!", new_course_day_path, target: :blank) do
     link_to("Take Attendance!", new_course_day_card_path(@course, @day), target: :_blank)
   end
    %>
</p>
<p>Current Time: <em><%= @time %></em></p>

<script>
    $(function() {
        $("button").on('click', function() {
            var data = "";
            var tableData = [];
            var rows = $('#attendance_day tr');
            rows.each(function(index, row) {
                var rowData = [];
                $(row).find("th, td").each(function(index, column) {
                    rowData.push(column.innerText);
                });
                tableData.push(rowData.join(","));
            });
            data += tableData.join("\n");

            var fileName = "";
            var courseName = document.getElementById("course_name").innerHTML;
            var courseNumber = document.getElementById("course_number").innerHTML;
            var courseSection = document.getElementById("course_section").innerHTML;

            $(document.body).append('<a id="download-link" download=' + fileName.concat(courseName, '_', courseNumber, '_', courseSection) + '_Attendance.csv href=' + URL.createObjectURL(new Blob([data], {
                type: "text/csv"
            })) + '/>');


            $('#download-link')[0].click();
            $('#download-link').remove();
        });
    });
</script>

<div class="btn-group">
  <button>Download as CSV</button>
</div><br><br>


<script>
function sortTable(n) {
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("attendance_day");
  switching = true;
  //Set the sorting direction to ascending:
  dir = "asc"; 
  /*Make a loop that will continue until
  no switching has been done:*/
  while (switching) {
    //start by saying: no switching is done:
    switching = false;
    rows = table.rows;
    /*Loop through all table rows (except the
    first, which contains table headers):*/
    for (i = 1; i < (rows.length - 1); i++) {
      //start by saying there should be no switching:
      shouldSwitch = false;
      /*Get the two elements you want to compare,
      one from current row and one from the next:*/
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
      /*check if the two rows should switch place,
      based on the direction, asc or desc:*/
      if (dir == "asc") {
        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
          //if so, mark as a switch and break the loop:
          shouldSwitch= true;
          break;
        }
      } else if (dir == "desc") {
        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
          //if so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        }
      }
    }
    if (shouldSwitch) {
      /*If a switch has been marked, make the switch
      and mark that a switch has been done:*/
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      //Each time a switch is done, increase this count by 1:
      switchcount ++;      
    } else {
      /*If no switching has been done AND the direction is "asc",
      set the direction to "desc" and run the while loop again.*/
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}
</script>


<% @classday %>

<table id="attendance_day">
    <thead>
        <tr>
            <th><%= sortable "fname", "First Name" %>
                <% if params[:direction] == "desc" and params[:sort] == "fname" %>
                    <%= image_tag("up_arrow.gif") %>
                <% elsif params[:direction] == "asc" and params[:sort] == "fname" %>
                    <%= image_tag("down_arrow.gif") %>
                <% else %>
                    <%= image_tag("") %>
                <% end %>
            </th>
            <th><%= sortable "lname", "Last Name" %>
                <% if params[:direction] == "desc" and params[:sort] == "lname" %>
                    <%= image_tag("up_arrow.gif") %>
                <% elsif params[:direction] == "asc" and params[:sort] == "lname" %>
                    <%= image_tag("down_arrow.gif") %>
                <% else %>
                    <%= image_tag("") %>
                <% end %>
            </th>
            <% $i = 2 %>
            <% @days.each do |day| %>
                
                <th onclick="sortTable(<%= $i %>)" ><%= day.classday %>
                    
                    <%= link_to '×', course_day_path(@course, day),
                        method: :delete,
                        data: { confirm: 'Are you sure you want to remove this day?' } %>
                </th>
                <% $i += 1%>
            <% end %>
        </tr>
    </thead>
    <tbody>
        <% @students.each do |student| %>
        <tr>
            <% if @courses.ids.include? @course.id %>
                <td class="name"><%= student.fname %></td>
                <td class="name"><%= student.lname %></td>
                
                <% @days.each do |day| %>
                    <% $present = false %>
                    <% @cards.each do |card| %>
                        <% if card.email == student.email %>
                            <% if card.day_ids.include? day.id %>
                                <td class="pres"><%="PRESENT"%></td>
                                <% $present = true %>
                            <% end %>
                        <% end %>
                    <% end %>
                    <% if !$present %>
                        <td class="abs"><%="ABSENT"%></td>
                    <% end %>
                <% end %>
            <% end %>
        </tr>
        <% end %>
    </tbody>
</table>

<br>
<div><%= link_to 'Back', courses_path %></div>

</div>