<h1>Take Attendace!</h1>

Do you want to take Attendance for the day of <%= Time.now.in_time_zone('Central Time (US & Canada)').strftime("%m-%d-%Y") %>?
<%= form_with model: @day, url: course_days_path, local: true do |form| %>
<br> 

<%= form.submit %> <%= link_to 'No', course_days_path %>
  
  <p>
    <%= form.label :classday %><br>
    <%= form.text_field :classday %>
  </p>
  
<% end %>