<div class="page-content">

<h1>Take Attendace!</h1>
<<<<<<< HEAD
</p>Do you want to <strong>take Attendance</strong> for the day of <em><%= @time %></em>?<p><br>
=======
<p>Do you want to <strong>take Attendance</strong> for the day of <em><%= Time.now.in_time_zone('Central Time (US & Canada)').strftime("%B %d, %Y") %></em>?</p><br>

>>>>>>> crud
<%= form_with model: @day, url: course_days_path, local: true do |form| %>
    <button><%= link_to "No", course_days_path %></button><%= form.submit "Yes" %>
<% end %>

</div>