<%= form_with(model: @teacher, html: {autocomplete: 'off'}, local: true) do |form| %>
 
  <% if @teacher.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@teacher.errors.count, "error") %> prohibited
        this teacher from being saved:
      </h2>
      <ul>
        <% @teacher.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div><%= form.text_field :fname, :required => true, placeholder: "First Name" %></div>
  <div><%= form.text_field :mname, placeholder: "Middle Name" %></div>
  <div><%= form.text_field :lname, :required => true, placeholder: "Last Name" %></div>
  <div><%= form.text_field :email, :required => true, placeholder: "E-mail" %></div>
  <div><%= form.text_field :department, placeholder: "Department" %></div>
  <br>
  
  <p>
    <%= form.submit "Add Instructor" %>
  </p>

<% end %>