<div class="page-content">

<h1>Listing Teachers</h1>

<%= link_to 'Add Teacher', new_teacher_path %><br>
<%= link_to 'Back', admins_path %>

<p>
  <%= form_tag teachers_path, :method => :get do %>
    <% @all_departments.each do |department| %>
      <%= check_box_tag "departments[#{department}]", :id => "departments_#{department}" %>
      <%= department %>
    <% end %><br>
    <%= submit_tag 'Filter' %>
  <% end %>
</p>

<table>
  <tr>
    
  </tr>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Department</th>
    <th style="color: #FFFFFF; border-bottom-color: black;">View</th>
    <th style="color: #FFFFFF; border-bottom-color: black;">Edit</th>
    <th style="color: #FFFFFF; border-bottom-color: black;">&#215</th>
  </tr>
 
  <% @teachers.each do |teacher| %>
    <tr>
      <td><%= teacher.lname %>, <%= teacher.fname %> <%= teacher.mname%></td>
      <td><%= teacher.email %></td>
      <td><%= teacher.department %></td>
      <td title="View Instructor's Courses"><%= link_to 'View', teacher_path(teacher) %></td>
      <td title="Edit Instructor"><%= link_to ('<i class="fa fa-user-edit"></i>').html_safe, edit_teacher_path(teacher) %></td>
      <td title="Remove Instructor"><%= link_to ('<i class="fa fa-user-times"></i>').html_safe, teacher_path(teacher),
              method: :delete,
              data: { confirm: 'Are you sure you want to remove this instructor?' } %>
      </td>
    </tr>
  <% end %>
</table>

</div>