<div class="page-content">

<%# flash.each do |msg| %>
  <%#<div>%>
    <%#= msg %>
  <%#</div>%>
<%# end %>

<h1>Listing Teachers</h1>
 
<%= link_to 'Add Teacher', new_teacher_path %><br>
<%= link_to 'Back', admins_path %>

  <p>
    <%= form_tag teachers_path, :method => :get do %>
    Filter:    
    <% @all_departments.each do |department| %>
      <%= check_box_tag "departments[#{department}]", :id => "departments_#{department}" %>
      <%= department %>
    <% end %> 
  </p>

  <%= submit_tag 'Refresh' %>
  <% end %>

<table>
  <tr>
    
  </tr>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Department</th>
    <th style="color: #FFFFFF">View</th>
    <th style="color: #FFFFFF">Edit</th>
    <th style="color: #FFFFFF">Delete</th>
  </tr>
 
  <% @teachers.each do |teacher| %>
    <tr>
      <td><%= teacher.lname %>, <%= teacher.fname %> <%= teacher.mname%></td>
      <td><%= teacher.email %></td>
      <td><%= teacher.department %></td>
      <td><%= link_to 'View', teacher_path(teacher) %></td>
      <td><%= link_to 'Edit', edit_teacher_path(teacher) %></td>
      <td><%= link_to 'Delete', teacher_path(teacher),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

</div>