<%= form_with(model: @course, url: teacher_courses_path, local: true) do |form| %>
 
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@course.errors.count, "error") %> prohibited
        this course from being saved:
      </h2>
      <ul>
        <% @course.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= form.label "Department" %><br>
    <%= form.text_field :name %>
  </p>
 
  <p>
    <%= form.label "Course" %><br>
    <%= form.text_field :number %>
  </p>

  <p>
    <%= form.label "Section" %><br>
    <%= form.text_field :section %>
  </p>
  
  <p>
    <%= form.label "Year" %><br>
    <%= form.text_field :year %>
  </p>
  
  <p>
    <%= form.label "Season" %><br>
    <%= form.select(:season, options_for_select([["Fall","Fall"], ["Spring", "Spring"], ["Summer", "Summer"]])) %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>

<% end %>