<div class="page-content">

<h1>Listing Courses</h1>
<h5><em>Instructor:</em> <%= @teacher.lname %>, <%= @teacher.fname %></h5>

<p>
  <%= link_to 'Add Course', new_teacher_course_path(@teacher) %><br>
  <%= link_to_if(@isAdmin, ('<i class="fa fa-user-edit" title="Edit Instructor"></i>').html_safe, edit_teacher_path(@teacher)) do
      end %>
  <% if @isAdmin %>
    <%= " | " %>
  <% end %>
  <%= link_to_if(@isAdmin, 'Back', teachers_path) do
      end %>
</p>

<% unless @teacher.courses.blank? %>

<p>
    <%= form_tag teacher_courses_path(@teacher), :method => :get do %>
      <% @all_years.each do |year| %>
        <%= check_box_tag "years[#{year}]", 1, @current_years.include?(year), :id => "years_#{year}" %>
        <%= year %>
      <% end %>
      <br>
      <% @all_seasons.each do |season| %>
        <%= check_box_tag "seasons[#{season}]", 1, @current_seasons.include?(season), :id => "seasons_#{season}" %>
        <%= season %>
      <% end %>
      <br>
      <%= submit_tag 'Filter', class: 'btn btn-info', title: "Filter by year and/or semester" %>
    <% end %>
</p>

<table id="courses_list">
  <tr>
    <th>Course</th>
    <th>Year</th>
    <th>Semester</th>
    <th><span hidden>Attendance</span></th>
  </tr>
 
  <% @courses.each do |course| %>
    <tr>
      <% @course_fullname = course.name + " " + course.number.to_s + " - " + course.section.to_s %>
      <td title="View Course Enrollment"><%= link_to @course_fullname, course_path(course) %></td>
      <td><%= course.year %></td>
      <td><%= course.season %></td>
      <td title="View Attendance for Course"><%= link_to 'Attendance', course_days_path(course) %></td>
      <!--<td><%= link_to 'Enrollment', course_path(course) %></td>-->
      <!--<td><%= link_to ('<i class="fa fa-edit"></i>').html_safe, edit_course_path(course) %></td>-->
      <!--<td><%= link_to ('<i class="fas fa-trash"></i>').html_safe, course_path(course),
              method: :delete,
              data: { confirm: 'Are you sure you want to remove this course?' } %></td>-->
    </tr>
  <% end %>
</table>

<% else %>
  <br><%= "There are currently no courses to show. Add a class to begin." %>
<% end %>

</div>