<h1>Listing Courses</h1>
 
<%= link_to 'New course', new_course_path %>
 
<table>
  <tr>
    <th>Name</th>
    <th>Section</th>
    <th></th>
  </tr>
 
  <% @courses.each do |course| %>
    <tr>
      <td><%= course.name %></td>
      <td><%= course.section %></td>
      <td><%= link_to 'View', course_path(course) %></td>
      <td><%= link_to 'Edit', edit_course_path(course) %></td>
      <td><%= link_to 'Delete', course_path(course),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>