<div class="page-content">

<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://kit.fontawesome.com/a4c2a4e031.js" crossorigin="anonymous"></script>
</head>

<h1>Listing Courses</h1>
 
<%= link_to 'Add Course', new_course_path %>

<p>
  <%= form_tag courses_path, :method => :get do %>
    <%= submit_tag 'Filter' %><br>
    <% @all_years.each do |year| %>
      <%= check_box_tag "years[#{year}]", 1, @current_years.include?(year), :id => "years_#{year}" %>
      <%= year %>
    <% end %>

    <br>
      
    <% @all_seasons.each do |season| %>
      <%= check_box_tag "seasons[#{season}]", 1, @current_seasons.include?(season), :id => "seasons_#{season}" %>
      <%= season %>
    <% end %>

    <br>

    
  <% end %>
</p>

<table id="courses_list">
  <tr>
    <th>Course</th>
    <th>Year</th>
    <th>Semester</th>
    <th hidden>Attendance</th>
    <th hidden>Enrollment</th>
    <th hidden>Edit</th>
    <th hidden>&#215</th>
  </tr>
 
  <% @courses.each do |course| %>
    <tr>
      <td><%= course.name %> <%= course.number %> - <%= course.section %></td>
      <td><%= course.year %></td>
      <td><%= course.season %></td>
      <td><%= link_to 'Attendance', course_days_path(course) %></td>
      <td><%= link_to 'Enrollment', course_path(course) %></td>
      <td><%= link_to ('<i class="fa fa-edit"></i>').html_safe, edit_course_path(course) %></td>
      <td><%= link_to ('<i class="fas fa-trash"></i>').html_safe, course_path(course),
              method: :delete,
              data: { confirm: 'Are you sure you want to remove this course?' } %></td>
    </tr>
  <% end %>
</table>

</div>