<p>
  <strong>Course:</strong>
  <%= @course.name %>
</p>
 
<p>
  <strong>Section:</strong>
  <%= @course.section %>
</p>

<p>
  <%= link_to 'Edit', edit_course_path(@course) %><br>
  <%= link_to 'Back', courses_path %>
</p>

<p>
  <h1>Students</h1>
  <%= link_to 'New Student', new_course_user_path(@course) %>
</p>
<table>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>View</th>
    <th>Edit</th>
    <th>Delete</th>
    <th>List of Courses</th>
    <th></th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.fname %></td>
      <td><%= user.lname %></td>
      <td><%= user.email %></td>
      <td><%= link_to 'View', user_path(user) %></td>
      <td><%= link_to 'Edit', edit_user_path(user) %></td>
      <td><%= link_to 'Delete', course_user_path(@course, user),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
      <td>
        <% user.courses.each do |c| %>
          <%= c.name %><%= c.section %> 
        <% end %></td>
    </tr>
    
  <% end %>
</table>




