<div class="page-content">

<p>
  <h1>Enrollment for <%= @course.name + " " + @course.number.to_s + " - " + @course.section.to_s %></h1>
  <%= link_to 'Edit Course', edit_teacher_course_path(@teacher, @course) %> | 
  <%= link_to ('<i class="fa fa-user-plus" title="Add Student"></i>').html_safe, new_course_student_path(@course) %><br>
  <%= link_to 'Back to Courses', teacher_path(@teacher) %>
</p>

<p id="course-id" hidden><%= params[:id] %><p>

<form id="upload-roster-form" method="post" enctype="multipart/form-data" action="/courses">
  <label for="enrollment">Choose roster (.csv) to upload</label>
  <div style="display: flex; flex-direction: row; justify-content: center; align-items: center;">
    <input style="margin-left: 5px; margin-right: 5px; background-color: lightgray;"
          type="file" id="enrollment" name="enrollment"
          accept=".csv">
    <button>Submit</button>
  </div>
</form>
<br>

<script>
  var courseID = document.getElementById("course-id").innerHTML;
  $('form#upload-roster-form').attr('action', "/courses/".concat(courseID, "/import"));
</script>

<table>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th style="color: white; border-bottom-color: black;">Edit</th>
    <th style="color: white; border-bottom-color: black;">&#215</th>
    <th>Enrolled Courses</th>
    <th></th>
  </tr>
  <% @students.each do |student| %>
    <tr>
      <td title="View Student"><%= link_to student.fname, student_path(student) %></td>
      <td title="View Student"><%= link_to student.lname, student_path(student) %></td>
      <td title="View Student"><%= link_to student.email, student_path(student) %></td>
      <td title="Edit Student"><%= link_to ('<i class="fa fa-user-edit"></i>').html_safe, edit_student_path(student) %></td>
      <td title="Remove Student from Course"><%= link_to ('<i class="fa fa-user-times"></i>').html_safe, course_student_path(@course, student),
              method: :delete,
              data: { confirm: 'Are you sure you want to remove this student?' } %></td>
      <td>
        <% student.courses.each do |c| %>
          <%= c.name %><%= c.number %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

</div>