<div class="page-content">

<p>
  <h1>Enrollment for <%= @course.name + " " + @course.number.to_s + " - " + @course.section.to_s %></h1>
  <%= link_to 'Add Student', new_teacher_course_student_path(@teacher, @course) %><br>
  <%= link_to 'Back to Courses', teacher_path(@teacher) %>
</p>

<p id="course-id" hidden><%= params[:id] %><p>

<form id="upload-roster-form" method="post" enctype="multipart/form-data" action="/courses">
  <div>
    <label for="enrollment">Choose file to upload</label>
    <input style="margin: auto; background-color: lightgray;"
          type="file" id="enrollment" name="enrollment"
          accept=".csv">
  </div>
  <div>
    <button>Submit</button>
  </div>
</form>

<script>
  var courseID = document.getElementById("course-id").innerHTML;
  $('form#upload-roster-form').attr('action', "/courses/".concat(courseID, "/import"));
</script>


<table>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>View</th>
    <th>Delete</th>
    <th>List of Courses</th>
    <th></th>
  </tr>
  <% @students.each do |student| %>
    <tr>
      <td><%= student.fname %></td>
      <td><%= student.lname %></td>
      <td><%= student.email %></td>
      <td><%= link_to 'View', student_path(student) %></td>
      <td><%= link_to 'Delete', teacher_course_student_path(@teacher, @course, student),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
      <td>
        <% student.courses.each do |c| %>
          <%= c.name %><%= c.number %> 
        <% end %></td>
    </tr>
    
  <% end %>
</table>

</div>