<div class="page-content">

<p>
  <h1>Enrollment for <%= @course.name + " " + @course.number.to_s + " - " + @course.section.to_s %></h1>
  <%= link_to ('<i class="fa fa-user-plus" title="Add Student"></i>').html_safe, new_course_student_path(@course) %>
  <%= link_to ('<i class="fa fa-edit" title="Edit Course"></i>').html_safe, edit_course_path(@course) %><br>
  <%= link_to 'Back', teacher_path(@teacher) %>
</p>

<p id="course-id" hidden><%= params[:id] %><p>

<form id="upload-roster-form" method="post" enctype="multipart/form-data" action="/courses">
  <label for="enrollment">Choose roster (.csv) to upload</label>
  <div style="display: flex; flex-direction: row; justify-content: center; align-items: center;">
    <input style="margin-left: 5px; margin-right: 5px; background-color: lightgray;"
          type="file" id="enrollment" name="enrollment"
          accept=".csv">
    <button>Submit</button>
  </div>
</form>
<br>

<script>
  var courseID = document.getElementById("course-id").innerHTML;
  $('form#upload-roster-form').attr('action', "/courses/".concat(courseID, "/import"));
</script>

<% unless @course.students.blank? %>

<table>
  <tr>
    <th>Student</th>
    <th>Email</th>
    <th></th>
  </tr>
  <% @students.each do |student| %>
    <tr>
      <td title="View Student"><%= link_to student.lname + ", " + student.fname, course_student_path(@course, student) %></td>
      <td><%= student.email%></td>
    </tr>
  <% end %>
</table>

<% else %>
  <br><%= "There are currently no students in this course. Add a student or upload a roster to begin." %><br>
<% end %>

</div>