<div class="page-content">

<h1>Attendance for <%= Time.now.in_time_zone('Central Time (US & Canada)').strftime('%B %d, %Y') %></h1>
<table id="cards-index">
  <tr>
    <th>Student Email</th>
    <th hidden>Card Number</th>
    <th></th>
  </tr>

  <!--tr>To edit a student, click the student's card number.</tr-->
  <br>
   <%= link_to 'Back', :back %>

  <% @course.cards.each do |card| %>
    <tr>
      <td><%= card.email %></td>
      <td hidden><%= card.code %></td>
      <td><%= link_to 'Remove', course_day_card_path(@course, @day, card),
              method: :delete,
              data: { confirm: 'Are you sure you want to remove this card?' } %></td>
    </tr>
  <% end %>
</table><br>

<div>
  <p>For confidential purposes, card numbers are hidden.</p>
</div>

</div>