<div class="page-content">

<h1>Attendance Tracker</h1>

<%= form_with scope: :card, url: course_day_cards_path, local: true do |form| %>

  <% if @card.errors.any? %>
    <div id="error_explanation">
      <h4>
        <%= pluralize(@card.errors.count, "error") %> prohibited this student from being saved:
      </h4>
      <div>
        <% @card.errors.full_messages.each do |msg| %>
          <p><%= msg %></p>
        <% end %>
      </div>
    </div>
  <% end %>

  <% @lastCard %>
  
  <div>
    <div><%= form.label :card %></div>
    <div><%= form.text_field :code, autocomplete: 'off' %></div>
  </div>
  <br>

  <div>
    <%= form.submit "Submit" %>
  </div>
<% end %>

<br>
<%= link_to "Today's Attendace List", course_day_cards_path %><%= ' | '%><%= link_to 'Back to Class Attendace', :back %>

</div>