<!DOCTYPE html>
<html>
<head>
  <title>Numberzz</title>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag  '//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag  '//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js' %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li class="active">
        <a href="home/new"><span class="glyphicon glyphicon-education"></span> Student</a>
      </li>
      <li>
        <a href="home"><span class="glyphicon glyphicon-apple"></span> Instructor</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="g-signin2" data-onsuccess="onSignIn"></li>
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <meta name="google-signin-client_id" content="781036429987-233hfr2peanens28knfbc2ugctorr6t1.apps.googleusercontent.com">
      </li>
    </ul>
  </div>
</nav>

<%= yield %>

</body>
</html>
