<!DOCTYPE html>
<html>
<head>
  <title>Numberzz</title>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag  '//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag  '//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js' %>
  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://kit.fontawesome.com/a4c2a4e031.js" crossorigin="anonymous"></script>

</head>
<body>

<nav class="navbar navbar-default navbar-static-top navbar-custom">
<!--<nav class="navbar navbar-default navbar-static-top navbar-custom">-->
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="<%= 'active' if current_page?(root_path) %>">
        <a style="color: black;" href="/"><!--<span class="glyphicon glyphicon-user"></span>--><i class="fa fa-user"></i> Sign In</a>
      </li>
      <li>
        <a style="color: black;" href="/logout"><!--<span class="glyphicon glyphicon-remove"></span>--><i class="fa fa-user"></i> Sign Out</a>
      </li>
    </ul>
  </div>
</nav>

<%= yield %>

</body>
</html>
