<!DOCTYPE html>
<html>
<head>
  <title>Numberzz</title>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag  '//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag  '//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js' %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Sign In</a>
      </li>
      <li>
        <a href="/courses"><span class="glyphicon glyphicon-apple"></span> Courses</a>
      </li>
      <li>
        <a href="/logout"><span class="glyphicon glyphicon-remove"></span> Sign Out</a>
      </li>
    </ul>
  </div>
</nav>

<%= yield %>

</body>
</html>
